@font-face {
    font-family: "Raleway Black";
    src: url("/assets/fonts/Raleway/Raleway-Black.ttf");
}

@font-face {
    font-family: "Lato Regular";
    src: url("/assets/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Open Sans Semi-Bold";
    src: url("/assets/fonts/OpenSans/OpenSans-SemiBold.ttf");
}


/*red: #f8605d*/
/*beige: #f1e8df*/
/*light dark: #3a3937*/

html, body {
  margin: 0;
  font-family: "Open Sans Semi-Bold", Arial;
  color: #3a3937;
}

body {
  background-color: #f1e8df;
}

a {
  text-decoration: none;
  color: #3a3937;
}

h1, h2, h3, h4, h5 {
  font-family: "Raleway Black", Arial;
}

h1 {
  font-size: 60px;
}

a:hover .highlight, .menu-item:hover.highlight {
  color: #f8605d;
}



.header {
}

.logo {
  display: inline-block;
  vertical-align: middle;
  font-family: "Raleway Black", Arial;
  font-size: 50px;
  margin: 10px 20px 10px 40px;
}

.red {
  color: #f8605d;
}
.menu {
  display: inline-block;
  font-family: "Raleway Black", Arial;
}

.menu-item {
  display: inline-block;
  margin: 30px;
}


.content {
  max-width: 700px;
  margin-left: 40px;
}

.page {
  padding: 0px 40px 0px 40px;
}

.post-preview > h4 {
  margin-bottom: 0;
}

.post {
}
